body{
    width: 99%;
    height: 98vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.main-box{
    width: 95%;
    margin: 2% auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    text-align: center;
}

.main-box-invis{
    display: none;
}

.change-invis{
    display: none;
}

.stina{
    width: 100%;
    height: 100%;
    opacity: 0.2;
    background-color: grey;
}

.invis{
    display: none;
}

.change{
    width: 24%;
    height: 46vh;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    align-items: center;
    gap: 3%;
    background-color: #005A3E;
    justify-content: center;
}

.change-product{
    width: 60%;
    height: 12%;
    text-align: center;
    border-radius: 25px;
    border: none;
}

.sumbit-new-change{
    background-color: rgb(78, 78, 226);
    border: none;
    border-radius: 25px;
    width: 60%;
    height: 12%;
    cursor: pointer;
    transition: transform 0.15s linear, background-color 0.15s linear;
}

.sumbit-new-change:hover{
    transform: scale(1.1) translateY(4px);
}

.sumbit-new-change:active{
    transform: scale(0.9);
    background-color: rgb(38, 38, 226);
}

.reg:active{
    transform: scale(0.9);
    background-color: rgb(38, 38, 226);
}

.box{
    width: 20%;
    height: 38vh;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    align-items: center;
    gap: 3%;
    background-color: #005A3E;
    justify-content: center;
}

.yes_reg{
    display: none;
}

.login{
    width: 60%;
    height: 12%;
    text-align: center;
    border-radius: 25px;
    border: none;
}

.kod{
    width: 60%;
    height: 12%;
    text-align: center;
    border-radius: 25px;
    border: none;
}

.reg{
    background-color: rgb(78, 78, 226);
    border: none;
    border-radius: 25px;
    width: 60%;
    height: 12%;
    cursor: pointer;
    transition: transform 0.15s linear, background-color 0.15s linear;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.reg:hover{
    transform: scale(1.1) translateY(4px);
}

.text{
    width: 73%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    color: white;
    font-size: 200%; 
    background-color: rgb(78, 78, 226); 
    border-radius: 10px; 
    border: none;
    text-align: center;
}

body {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* .main_linies{
    width: 635%;
    min-height: 80px;
    background: #005A3E;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    border-radius: 10px;
    margin-bottom: 225%;
} */

.logo {
    margin-left: 3%;
}

.all_cost {
    color: white;
    margin-left: auto;
    margin-right: 3%;
}

.linies {
    width: 95%;
    margin: 2% auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    text-align: center;
}

.tea {
    width: 100%;
    min-height: 250px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s linear;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 225%;
}

.tea img {
    max-width: 100%;
    height: 140px;
    object-fit: contain;
}

.tea h4 {
    margin: 10px;
}

.tea span {
    margin-bottom: 10px;
}

.tea_buy {
    width: 60%;
    min-height: 35px;
    background: #33cc00;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: auto;
    margin-bottom: 10px;
    color: black;
    transition: 0.2s;
}

.tea:hover {
    transform: scale(1.03);
}

.tea_buy:hover {
    background: #005A3E;
    color: white;
    transform: scale(1.05);
}

.tea_buy:active {
    transform: scale(0.95);
}

